.top-heading {
  text-align: center;
  font-size: 50px;
}
.mes {
  width: 300px;
  padding: 10px;
  margin-left: 50px;
  background-color: rgb(13, 70, 119);
  border-radius: 10px;
  transition: 0.3s;
  margin-top: 10px;
}
.mes-1 {
  display: none;
  padding: 15px;
}
button {
  width: 10%;
  height: 70px;
  background-color: rgb(13, 70, 119);
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.mes p {
  color: white;
}
.chat {
  padding: 5px 10px;
  width: 80%;
  font-weight: 10px;
  margin-left: 30px;
  height: 50px;
  border-radius: 20px;
  margin-top: 20px;
  border: 1px solid black;
  font-size: 18px;
  

}
.chat-1 {
  padding: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  z-index: 1;
  width: 100%;
}
